@page "/"

<PageTitle>Tucker Mogren's Personal Website</PageTitle>



<div class="center">
    <br>
    <img src="Images/IMG_4961-ITRS.jpg" alt="Avatar" class="roundImage"/>
    <br><br>
    <h1><b>Tucker Mogren</b></h1>
    <h4>Software Engineer</h4>
    <h6>Site is a work in progress!</h6>
</div>


