@page "/projects"
@inject HttpClient Http

<PageTitle>Projects</PageTitle>

<div>
<h1>
    <b class="fontSize">Tucker's Projects
    </b><br><br><br>
</h1>
</div>


<span><img src="Images/trigger_tracker_png_120px.png" width="75" height="75"/><h1>Trigger Tracker - iOS</h1></span>
<div>
<h4>Description: Trigger Tracker is an iOS app (not published) written in Swift. 
    The objective of Trigger Tracker is to allow people who have medical conditions that flare up dependent on what they eat a way to track their food intake. 
    Trigger Tracker allows the user to snap a photo of and add notes to their meal and have it stored securely within a datastore. 
    Trigger Tracker is a work in progress but a full iOS and Apple Watch app are under development. 
    Trigger Tracker uses Google's Firebase for user authentication and database/storage.</h4>
</div>

