@page "/projects"
@inject HttpClient Http

<PageTitle>Projects</PageTitle>

<div>
    <h1>
        <b class="fontSize">Tucker's Projects </b><br><br>
    </h1>
</div>

<div>
    <h2><b>Trigger Tracker - iOS</b></h2><br>
    <span><img src="Images/trigger_tracker_png_120px.png" width="100" height="100"/></span><br><br>
    <p>Trigger Tracker is an iOS app (not published) written in Swift. 
        The objective of Trigger Tracker is to allow people who have medical conditions that flare up dependent on what they eat a way to track their food intake. 
        Trigger Tracker allows the user to snap a photo of and add notes to their meal and have it stored securely within a datastore. 
        Trigger Tracker is a work in progress but a full iOS and Apple Watch app are under development. 
        Trigger Tracker uses Google's Firebase for user authentication and database/storage. (This project was originally done as a capstone project)
    </p><br>
    
    <p><b>Skills:</b> Swift(Programming Language), Firebase(NoSQL DB, User authentication), WatchKit</p>
    <br>
</div>

<div>
    <h2><b>Tucker Mogren's Personal Website (this site)</b></h2><br>
    <p>This website is a Blazor WebAssembly app running on GitHub Pages.</p><br>
    <p><b>Skills:</b> C#, HTML, Blazor WebAssembly</p>

</div>

<div>
    <h2><b>Some C# App</b></h2><br>
    <p>C# Application built with Entity Framework.</p><br>
    <p><b>Skills:</b> C#.Net, Entity Framework</p>
</div>