@page "/projects"
@inject HttpClient Http

<PageTitle>Projects</PageTitle>

<div>
    <h1>
        <b class="fontSize">Tucker's Projects </b><br><br>
    </h1>
</div>

<div>
    <h2><b>Ticket Mapper</b></h2><br>
    <p>Ticket Mapper is a robust .NET application designed to streamline the creation of tickets for the Lake George Alumni Association (LGAA) raffle held in the fall of 2023. 
        The application follows a clean architecture pattern with distinct layers for domain, application, infrastructure, and presentation, ensuring maintainability and scalability.</p><br>
    <p><b>Skills:</b> C#.NET 8, Web API, Clean Architecture, Docker, XUnit for testing</p><br>
    <a href="https://github.com/TuckerMogren/Ticket-Mapper" target="_blank">View on GitHub</a>
</div>
<div>
    <h2><b>Tucker Mogren's Personal Website (this site)</b></h2><br>
    <p>This website is a Blazor WebAssembly app running on GitHub Pages.</p><br>
    <p><b>Skills:</b> C#, HTML, Blazor WebAssembly</p>
</div>
<div>
    <h2><b>Trigger Tracker - iOS (Not active)</b></h2><br>
    <span><img src="Images/trigger_tracker_png_120px.png" width="100" height="100"/></span><br><br>
    <p>Trigger Tracker is an iOS app (not published) written in Swift. 
        The objective of Trigger Tracker is to allow people who have medical conditions that flare up dependent on what they eat a way to track their food intake. 
        Trigger Tracker allows the user to snap a photo of and add notes to their meal and have it stored securely within a datastore. 
        Trigger Tracker is a work in progress but a full iOS and Apple Watch app are under development. 
        Trigger Tracker uses Google's Firebase for user authentication and database/storage. (This project was originally done as a capstone project)
    </p><br>
    <p><b>Skills:</b> Swift(Programming Language), Firebase(NoSQL DB, User authentication), WatchKit</p>
    <br>
</div>
