@page "/resume"

<PageTitle>Tucker's Resume</PageTitle>

<div class="content">
    <div class="row">
        <div>
            <p class>
                <span class="fontSize25AndBlack"><b>Summary</b></span>
            </p>
            <p>Tucker is currently a Software Engineer at IT Room Solutions and has experience with the Duck Creek Insurance underwriting platform, specifically Policy and Billing. <br><br>
            Tucker is skilled in C#, SQL, XML, and XSLT. In the past Tucker has worked with messaging middlewares such as RabbitMq, MSMQ and integration platforms like Boomi, and Mulesoft. 
            Tucker is a strong engineering professional with a Bachelor’s Degree focused in Computer and Information Sciences and a minor in Computer Information Systems from SUNY Polytechnic Institute. 
            Tucker currently serves as a Director on the Lake George Alumni Association board as well as a committee member on the SUNY Polytechnic Institute Alumni Committee. 
            Tucker has previously served as the President of the Student Government at SUNY Poly, among other leadership positions.
            </p>
        </div>
        @*
        <div >
                <span class="fontSize25AndBlack"><b>Skills/Technologies</b></span>
        </div>
        
        <div class="row">
            <div>
                <ul>
                    <li>Bullet 1</li>
                    <li>Bullet 2</li>
                    <li>Bullet 3</li>
                    <li>Bullet 4</li>
                </ul>
            </div>
        </div>
        *@
        <div >
            <p class>
                <span class="fontSize25AndBlack"><b>Education</b></span>
            </p>
            <span><b>SUNY Polytechnic Institute</b> - Utica, NY <br>Bachelor's Degree in Computer and Information Science <br>GPA: 3.49 (Grad: May 2019)</span><br><br>
            <span><b>Lake George Jr/Sr High School</b> - Lake George, NY <br>Advanced Regents Diploma<br>GPA: 3.33 (Grad: June 2015)</span>
        </div>
        <div >
            <p class>
                <span class="fontSize25AndBlack"><b>Employment History</b></span>
            </p>
            <p>
                <span><b>IT Room Solutions</b>, Software Engineer (Feb 2020 - Present)<br></span>
                <ul>
                    <li>Experience with Duck Creek Policy and Billing – Running on Duck Creek OnDemand (DCOD). </li>
                    <li>Manage offshore resources and report their status to upper management. </li>
                    <li>Created a script using SQL and XPath to automatically re-create the billing receivables for transactions that failed. </li>
                    <li>Knowledgeable with the following Duck Creek Databases: ExampleData, ExampleIDO, ExampleIDORealTime.</li>
                    <li>Developed microservices and state machines using C#, RabbitMQ, and Mass Transit (Automatonymous). </li>
                    <li>Familar with the all aspects of the P & C Insurance Policy life cycle.</li>
                    <li>Technologies used: XML, XSLT, XPath, XQuery, SQL, C#, SSMS, Azure DevOps, SQL Profiler</li>
                </ul>
 
                <span><b>Utica National Insurance Groiup</b>, Associate Software Engineer (May 2019 - Feb 2020)<br><br></span>
                <ul>
                    <li>Developed and maintained Utica's instance of the Duck Creek Policy Administration System.</li>
                    <li>Utilized Data Tester, Trace Monitor, TSV Debugger, and Example Util to aid in the triage of production bugs.</li>
                    <li>Technologies used: XML, SQL, C#, SSMS, Micro Focus Dimensions CM (repo)</li>
                    <li>I also was an IT Intern from Nov 2016-Aug 2017 and then again from May-Aug 2018.</li>
                </ul>
                <span><b>Student Government at Utica, SUNY Polytechnic Instiute</b>, President (April 2018 - April 2019)<br><br></span>
                <ul>
                    <li>Assisted with the implantation and re-launch of SUNY Poly Engage. An Engage and finanical tracking tool by Campus Labs.</li>
                    <li>Created a Director of Diversity and Inclusion to promote internal and external Diversity initiatives.</li>
                    <li>Member, SUNY Student Assembly ad-hoc committee for a board-based fee. Proposal was passed!</li>
                    <li>Worked with the Provost’s office to get the SUNY Poly academic honor list publicly posted on the website. </li>
                    <li>Directly supervised three directors (Development, Public Relations, Diversity-Equality-Inclusion) to aid in operations of the student government.</li>
                </ul>
            </p>
        </div>
        <div>
            <p>
                <span class="fontSize25AndBlack"><b>Certifications</b></span>
            </p>
            <p>Dell Boomi Professional Developer, Aquired in March of 2020 and renewed in March 2022</p>
            <p>Dell Boomi Professional Flow Certification, Aquired in November of 2020</p>
            <p>Duck Creek Technologies Basic Author, Aquired in July 2019</p>
        </div>
        <div>
            <p>
                <span class="fontSize25AndBlack"><b>Awards/Honors</b></span>
            </p>
            <p>Student Government President of the Year for Doctoral Granting Insitutions, SUNY Student Assembly - April 2019</p>
            <p>Student Life Award, SUNY Polytechnic Insutite - April 2019</p>
        </div>
        <div>
            <p>
                <span class="fontSize25AndBlack"><b>Public Speaking Engagements</b></span>
            </p>
            <p>Speaker, Round Table with Past Presidents Hosted By SUNY Poly Student Government at Utica - Feb 2022</p>
           @*<p>2022 Keynote Speaker, Convocation @ SUNY Poly - August 2022</p>*@ 

        </div>
        <div>
            <p>
                <span class="fontSize25AndBlack"><b>Board/Committee Appointments</b></span>
            </p>
            <p>Lake George High School Alumni Association, Director - April 2022 to Present</p>
            <p>SUNY Polytechnic Instiute Alumni Committee, Member - August 2018 to Present</p>
            <p>SUNY Polytechnic Instiute Auxiliary Services Board, Student Director - April 2018 to April 2019</p>
        </div>

    </div>
</div>