@page "/resume"

<PageTitle>Tucker's Resume</PageTitle>

<div class="content">
    <div class="row">
        <div>
            <p class>
                <span class="fontSize25AndBlack"><b>Summary</b></span>
            </p>
            <p>
            Tucker Mogren is currently a Software Engineer at Alliant Insurance Service and is an accomplished professional with a distinguished career in the insurance industry. 
            A 2019 graduate of SUNY Polytechnic Institute and a 2015 graduate of Lake George Jr/Sr High School, Tucker has previously held positions at Utica National Insurance Group and IT Room Solutions. 
            Tucker’s leadership extends beyond professional settings, as demonstrated by Tucker’s 2022 keynote address to the SUNY Polytechnic Institute Convocation class of 2026 and service as a Member of the SUNY Poly Alumni Committee since 2018, where Tucker also chairs the Nominations Subcommittee.
            Since 2022, Tucker has also served as a Director on the Lake George Alumni Association Board.
            </p>
        </div>
        <div >
            <p class>
                <span class="fontSize25AndBlack"><b>Education</b></span>
            </p>
            <span><b>SUNY Polytechnic Institute</b> - Utica, NY <br>Bachelor's Degree in Computer and Information Science <br>GPA: 3.49 (Grad: May 2019)</span><br><br>
            <span><b>Lake George Jr/Sr High School</b> - Lake George, NY <br>Advanced Regents Diploma<br>GPA: 3.33 (Grad: June 2015)</span>
        </div>
        <div >
            <p class>
                <span class="fontSize25AndBlack"><b>Employment History</b></span>
            </p>
            <p>
                <span><b>Alliant Insurance Services</b>, Associate Application Developer (Oct 2022 - Present)<br></span>
                <ul>
                    <li>Operated as a C# developer within the Microsoft stack, utilizing Pulumi for modern infrastructure management.</li>
                    <li>Successfully created a policy-binding service using Entity Framework, Adapter, Mediator, and Repository patterns. Integrated messaging features using Mass Transit and Azure Service Bus to enhance communication and service responsiveness.</li>
                    <li>Leveraged Azure DevOps to deploy services to on-premises servers, ensuring smooth integration and streamlined management.</li>
                    <li>Engineered a robust CI/CD pipeline tailored for deploying cloud-based services on Azure, employing Pulumi for Infrastructure as Code, thereby boosting deployment efficiency.</li>
                    <li>Set up and maintained multi-stage environments (Dev, QA, UAT, Prod), along with establishing a hybrid connection to facilitate communication with on-premises services.</li>
                    <li>Member of a team to build an integration with a third-party policy administration system into legacy systems/databases.</li>
                </ul>
                <span><b>IT Room Solutions</b>, Software Engineer (Feb 2020 - Oct 2022)<br></span>
                <ul>
                    <li>Experience with Duck Creek Policy and Billing – Running on Duck Creek OnDemand (DCOD). </li>
                    <li>Manage offshore resources and report their status to upper management. </li>
                    <li>Created a script using SQL and XPath to automatically re-create the billing receivables for transactions that failed. </li>
                    <li>Knowledgeable with the following Duck Creek Databases: ExampleData, ExampleIDO, ExampleIDORealTime.</li>
                    <li>Developed microservices and state machines using C#, RabbitMQ, and Mass Transit (Automatonymous). </li>
                    <li>Familar with the all aspects of the P & C Insurance Policy life cycle.</li>
                    <li>Technologies used: XML, XSLT, XPath, XQuery, SQL, C#, SSMS, Azure DevOps, SQL Profiler</li>
                </ul>
                <span><b>Utica National Insurance Groiup</b>, Associate Software Engineer (May 2019 - Feb 2020)<br><br></span>
                <ul>
                    <li>Developed and maintained Utica's instance of the Duck Creek Policy Administration System.</li>
                    <li>Utilized Data Tester, Trace Monitor, TSV Debugger, and Example Util to aid in the triage of production bugs.</li>
                    <li>Technologies used: XML, SQL, C#, SSMS, Micro Focus Dimensions CM (repo)</li>
                    <li>I also was an IT Intern from Nov 2016-Aug 2017 and then again from May-Aug 2018.</li>
                </ul>
                <span><b>Student Government at Utica, SUNY Polytechnic Instiute</b>, President (April 2018 - April 2019)<br><br></span>
                <ul>
                    <li>Assisted with the implantation and re-launch of SUNY Poly Engage. An Engage and finanical tracking tool by Campus Labs.</li>
                    <li>Created a Director of Diversity and Inclusion to promote internal and external Diversity initiatives.</li>
                    <li>Member, SUNY Student Assembly ad-hoc committee for a board-based fee. Proposal was passed!</li>
                    <li>Worked with the Provost’s office to get the SUNY Poly academic honor list publicly posted on the website. </li>
                    <li>Directly supervised three directors (Development, Public Relations, Diversity-Equality-Inclusion) to aid in operations of the student government.</li>
                </ul>
            </p>
        </div>
        <div>
            <p>
                <span class="fontSize25AndBlack"><b>Skills</b></span>
            </p>
            <p><b>Azure</b></p>
            <ul>
                <li>Experience with Logic Apps, App Service, Cosmos Dbs, Service Bus, etc </li>
                <li>Implemented multi-stage environments with Azure DevOps.</li>
            </ul>
            <p><b>OIDC and Identity Providers</b></p>
            <ul>
                <li>Implemented Okta for API authentication, including integration with other services.</li>
                <li>Utilized Keycloak for local authentication</li>
            </ul>
            <p><b>Architecture Patterns</b></p>
            <ul>
                <li>Applied Mediator pattern for handling complex workflows in distributed systems.</li>
                <li>Used Adapter pattern to integrate with third-party services and legacy systems.</li>
                <li>Implemented Repository pattern for efficient data access management.</li>
                <li>Experience with Clean Architecture in developing maintainable and scalable applications.</li>
            </ul>
            <p><b>Development Tools & Languages</b></p>
            <ul>
                <li>Proficient .Net.</li>
                <li>Experience with Visual Studio, Git, CI/CD pipelines(Github workflows, Azure pipelines), Pulumi (IaC).</li>
            </ul>
            <p><b>DevOps & Automation</b></p>
            <ul>
                <li>Experience with Azure DevOps.</li>
                <li>Implemented infrastructure as code using Pulumi, deployment via Azure Pipelines.</li>
            </ul>
            <p><b>Testing & Quality Assurance</b></p>
            <ul>
                <li>Utilized testing frameworks like xUnit, NUnit for automated testing.</li>
                <li>Focused on code quality with test automation and code coverage tools.</li>
            </ul>
            <p><b>Project Management & Collaboration</b></p>
            <ul>
                <li>Experience with Agile, Scrum methodologies.</li>
                <li>Collaborated with cross-functional teams, ensuring effective communication and project success.</li>
            </ul>
        </div>
        <div>
            <p>
                <span class="fontSize25AndBlack"><b>Certifications</b></span>
            </p>
            <p>Dell Boomi Professional Developer, Aquired in March of 2020 and renewed in March 2022</p>
            <p>Dell Boomi Professional Flow Certification, Aquired in November of 2020</p>
            <p>Duck Creek Technologies Basic Author, Aquired in July 2019</p>
        </div>
        <div>
            <p>
                <span class="fontSize25AndBlack"><b>Awards/Honors</b></span>
            </p>
            <p>Student Government President of the Year for Doctoral Granting Insitutions, SUNY Student Assembly - April 2019</p>
            <p>Student Life Award, SUNY Polytechnic Insutite - April 2019</p>
        </div>
        <div>
            <p>
                <span class="fontSize25AndBlack"><b>Public Speaking Engagements</b></span>
            </p>
            <p>Keynote Speaker, Convocation at SUNY Poly - August 2022</p>
            <p>Speaker, Round Table with Past Presidents Hosted By SUNY Poly Student Government at Utica - Feb 2022</p>
        </div>
        <div>
            <p>
                <span class="fontSize25AndBlack"><b>Board/Committee Appointments</b></span>
            </p>
            <p>Lake George High School Alumni Association, Director - April 2022 to Present</p>
            <ul>
                <li>Secretary - April 2024 to Present</li>
                <li>In charge of all external written communications, including but not limited to press releases, public statements, email blasts, and maintaining the alumni association website (WordPress)</li>
            </ul>
            <p>SUNY Polytechnic Institute Alumni Committee, Member - August 2018 to Present</p>
            <ul>
                <li>Chair of the Nomination Subcommittee - April 2023 to Present</li>
            </ul>
            <p>SUNY Polytechnic Institute Auxiliary Services Board, Student Director - April 2018 to April 2019</p>
        </div>
    </div>
</div>