@page "/resume"

<PageTitle>Tucker's Resume</PageTitle>

<div class="content">
    <div class="row">
        <div>
            <p class>
                <span class="fontSize25AndBlack"><b>Summary</b></span>
            </p>
            <p>
                <span>Text for my summary will go here</span>
            </p>
        </div>
        <div >
                <span class="fontSize25AndBlack"><b>Skills/Technologies</b></span>
        </div>
        <div class="row">
            <div>
                <ul>
                    <li>Bullet 1</li>
                    <li>Bullet 2</li>
                    <li>Bullet 3</li>
                    <li>Bullet 4</li>
                </ul>
            </div>
        </div>
        <div >
            <p class>
                <span class="fontSize25AndBlack"><b>Education</b></span>
            </p>
            <p>
                <span>Ed details go here</span>
            </p>
        </div>
        <div >
            <p class>
                <span class="fontSize25AndBlack"><b>Employment History</b></span>
            </p>
            <p>
                <span>Text for my summary will go here</span>
            </p>
        </div>
        <div>
            <p>
                <span class="fontSize25AndBlack"><b>Board/Committee Appointments</b></span>
            </p>
            <p>
                <span>Text for my summary will go here</span>
            </p>
        </div>

    </div>
</div>